html,
body {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: #ffffff;
    color: #070707;
    font-family: 'Roboto Mono', sans-serif;
}

a {
    color: rgb(210, 0, 0);
    transition: 0.5s ease-in-out;
}

a:hover {
    color: rgb(151, 0, 0);
}

a,
a:active,
a:focus {
    text-decoration: none !important;
}

.track-title {
    font-weight: bold;
    font-size: 17px;
}
